fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
redis
praw
requests
typer
pydub
jinja2
python-frontmatter
python-dotenv
instagrapi
pywhatkit
yt-dlp
pydantic
pydantic-settings
faster-whisper
google-api-python-client
google-auth-oauthlib
langdetect
prometheus_client
